.rptutorials{
    padding-top: 40px;
    padding-bottom: 50px;
}

.tutorialicon{
    display: flex;
}

.tutorialicon h1{
    margin-left:680px ;
    font-weight: 700;
    font-size: 30px;



}

.tutorialprocontainer{
   
    padding-left: 5px;

}

.tutorialreslist{
    
    width: 23%;
    height: max-content;
    min-width: 350px;
    padding: 30px 12px;
    border: 5px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    
    
    

}

.tutorialreslist:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}



.tutorialrppersonmain{
    padding: 0 5px;
  
}

.tutorialrppersondes{
    padding-left: 8px;
    margin-top: 30px;
    text-align: justify;
}

.tutorialrppersondes p {
    line-height: 20px;
}





.tutorialbtn button{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 50%;
    color: #fff;
    background-color: #1A728E;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 70px;
}



.tutorialrpimage img{
   

    border: 2px solid;
    border: none;
    /* padding-left: 30px; */
    height: 200px;
    width: 300px;
    object-fit: fill
   

}

.tutorialicon button{

margin-left: 510px;
    border:none;
    background-color: white;


   
}

 .tutorialicon{
    color: #75D7F0;
    font-size: 50px;
    
}

