.profileimg img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.circular-img {
    width: 30px; /* Adjust this size as needed */
    height: 30px; /* Adjust this size as needed */
    border-radius: 50%;
    overflow: hidden;
  }