#profilemain{
    margin:2% 15%;
}
.Editbutton{
    background-color: aliceblue;
    
}
.profilename{
    font-size: larger;
    font-weight: bold;
    margin-right: 20%;
}
.profile_img{
    width:100%;
    height: 12em;
}
.editlink{
    text-decoration: none;
    color: black;
}