.adminlogin_body {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.adminlogin_bodyheading {
  color: rgba(30, 30, 30, 1);
  
}
.adminlogin_bodyheading span {
  color: hsl(126, 25%, 45%);
}
/* font-size: 45px;
  font-weight: bolder; */