.footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 200px;
    background-color: black;
    color: #fff;
    padding-bottom: 35px;
  }
  
  .footer-left img {
    display: flex;
    max-width: 100px;
    /* padding-bottom: 15px;
    padding-top: 45px; */
  }
  
  .footer-right {
    display: flex;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  
  .footer-right > div {
    margin-left: 20px;
  }